{% extends "base.html" %}

{% block "sidebar" %}
    {% include "handbook/_sidebar.html" with root_nodes=root_nodes %}
{% endblock %}

{% block "content" %}
    {% if user.is_authenticated %}
        <a id="edit" href="{{ selected_content.node.get_edit_url }}" title="Edit this page"><span>edit</span></a>
    {% else %}
    {# TODO provide login-link and -form #}
    {% endif %}
    {% include "handbook/_content_markdown.html" with text=selected_content.text only %}
    <p id="content_meta">Version {{ selected_content.version }} ({{ selected_content.created_at|date:"Y/m/d H:i" }})
{% endblock %}
