{% extends "base.html" %}

{% block "sidebar" %}
    {% include "handbook/_sidebar.html" with root_nodes=root_nodes only %}
{% endblock %}

{% block "content" %}
    <form action="/page_edit/asdf/test/" method="post">{% csrf_token %}
        {{ content_form.text }}
        <br/>
        <input type="submit" value="Save as new version" /> {# TODO cancel-link #}
        <a href="{{ current_content.node.get_url }}">Cancel</a>
    </form>
    <p id="content_meta">Editing version {{ current_content.version }} ({{ current_content.created_at|date:"Y/m/d H:i" }})
{% endblock %}


