<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
    <meta charset="UTF-8">
    <title>{% block "title" %}Programmer's Handbook{% endblock %}</title>
    {# <meta name="description" content="TODO"> #}
    {# <link rel="icon" href="/favicon.ico" type="image/x-icon"> #}
    <link rel="stylesheet" type="text/css" media="screen, projection" href="{{ STATIC_URL }}css/style.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}/js/lib/highlight/styles/magula.css">
    <script src="{{ STATIC_URL }}/js/lib/highlight/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</head>
<body>
    <div id="wrapper">
        <aside>
            {% block "sidebar" %}{% endblock %}
        </aside>
        <article>
            {% block "content" %}{% endblock %}
        </article>
    </div>
</body>
</html>
